<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listado de jugos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  <body>
    <h1 class="alert alert-success">Listado de jugos</h1>
    <div class="row">
      <div class="col-md-1"></div>
          <div class="col-md-10">
              <table class="table table-bordered border-primary">
                  <tr class="table-success">
                      <th>Id del jugo</th>
                      <th>Nombre del jugo</th>
                      <th>Tamaño del jugo</th>
                      <th>Sabor del jugo</th>
                      <th>Descripcion del jugo</th>
                      <th>Precio del jugo</th>
                      <th>Editar</th>
                      <th>Eliminar</th>
                  </tr>
                    <% juices.map( (juices) =>{%>
                      <tr class="table-warning">
                          <td><%= juices.id %></td>
                          <td><%= juices.name %></td>
                          <td><%= juices.size %></td>
                          <td><%= juices.fruit %></td>
                          <td><%= juices.description %></td>
                          <td><%= juices.price %></td>
                          <td><a href="/admin/juices/edit/<%= juices.id %>" class="btn btn-success">Editar</a></td>
                          <td>
                            <form action="/admin/juices/destroy/<%= juices.id %>" method="POST">
                              <input type="submit" class="btn btn-danger" onclick="return confirm('Está Seguro?')" value = "Eliminar">
                            </form>
                          </td>
                      </tr>
                      <% }) %>
              </table>
              <a href="/admin/juices/create" class="btn btn-primary">Añadir un jugo</a>
            </div>
      <div class="col-md-1"></div>
  </div>
  </body>
</html>